@charset "UTF-8";

@media (min-width: 768px) {
    #login {
        width: 85vw;
    }

    #imagem {
        float: left;
        width: 30%;
        height: 100%;
    }

    #formulario {
        float: right;
        width: 70%;
    }
    
    p {
        font-size: 1em;
        max-width: 300px;
        text-align: center;
        margin: auto;
    }

    h1 {
        font-size: 1.7rem;
    }
    
    #forgot {
        font-size: 0.9m;
    }

}

@media (min-width: 992px) {
    #login {
        width: 800px;
        margin: 20px auto;
    }

    #imagem {
        float: right;
        width: 50%;
        height: 100%;
    }

    #formulario {
        float: left;
        width: 50%;
        padding: 30px;
    }

    p {
        font-size: 1.1em;
        max-width: 900px;
    }

    input {
        font-size: 1.1em;
    }

    h1 {
        font-size: 1.9em;
    }

    #forgot {
        font-size: 0.8em;
    }

}