@charset "UTF-8";

@media (min-width: 768px) {
    #login {
        width: 85vw;
    }

    #imagem {
        float: left;
        width: 30%;
        height: 100%;
    }

    #formulario {
        float: right;
        width: 70%;
    }
    
    p {
        font-size: 1em;
    }

    h1 {
        font-size: 1.7rem;
    }
}

@media (min-width: 992px) {
    #login {
        width: 950px;
        margin: 20px;
    }

    #imagem {
        float: right;
        width: 50%;
        height: 100%;
    }

    #formulario {
        float: left;
        width: 50%;
    }

    p {
        font-size: 1.2em;
    }

    h1 {
        font-size: 1.9em;
    }
}