@charset "UTF-8";

* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
}

body {
    background-color: #2b2c49;
    font-family: 'Inter', sans-serif;
    min-height: 100dvh;
    display: flex;
    background: 
        radial-gradient(circle at 20% 30%, rgba(255, 255, 255, 0.05), transparent 40%),
        radial-gradient(circle at 80% 70%, rgba(255, 255, 255, 0.03), transparent 50%),
        linear-gradient(135deg, #1e224e, #091f3b);
}

h1 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 1.6em;
    margin: 10px;
}

p {
    font-size: .9em;
    text-align: center;
    margin-top: 0;
}

main {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

#login {
    overflow: hidden;
    width: 300px;
    height: 500px;
    border-radius: 12px;
    background-color: #ffffff;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4),
    0 5px 10px rgba(0, 0, 0, 0.3);
    margin: 20px;

    transition: width 0.1s, height 0.1s;
    transition-timing-function: ease;
}

#imagem {
    display: block;
    background: #000 url(../imagens/metal.jpg) no-repeat;
    background-size: cover;
    background-position: left bottom;
    height: 200px;
}

#formulario {
    display: block;
    padding: 10px;
}

.campo {
    display: block;
    margin: 5px 0;
    
}

span {
    padding: 5px;
    transform: translateY(7px);
}

.campo input {
    font-size: 0.9em;
    height: 100%;
    width: calc(100% - 40px);
    padding: 4px;
}

input[type=submit] {
    display: block;
    font-size: 1em;
    width: 50%;
    height: 30px;
    background-color: #1f7bc5;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 7px;
    font-family: 'Poppins', sans-serif;
    font-weight: 450;
    text-transform: uppercase;
    margin: 20px auto 10px auto;
    cursor: pointer;
    padding-top: 2px;
}

input[type=submit]:hover{
    background-color: #1f66a0;
}

#forgot {
    display: block;
    text-align: center;
    font-size: 0.8em;
    text-decoration: none;
    color: #000000;
}

#forgot:hover {
    text-decoration: underline;
}
